## Week 3 Assignment

This program takes a list of cumulative values represent miles ridden, asigns them to a pandas Series object, and calculates the difference between successive values in the list to get the number of miles ridden each day.

First, we import pandas and NumPy:

In [8]:
import pandas as pd
import numpy as np

Now, we will create a list to hold the hypothetical values for cumulative miles ridden. We also initialize an empty list for daily_mileage, which will be used in the next step, and create a pandas series from the cumulative miles list:

In [40]:
cumulative_mileage = [55, 120, 180, 235, 305, 355, 415, 480, 530, 595, 670, 710, 
                      765, 820, 885, 945, 1000, 1065, 1120, 1180, 1235, 1265, 
                      1340, 1400, 1460, 1515, 1572]

daily_mileage = []

s1 = pd.Series(cumulative_mileage)

Finally, a for loop iterates over the s1 series, where the difference between values is calculated as (n - (n-1)). From this calculation we append the results to the daily_mileage list. Series s2 displays the final output:

In [42]:
for n in range(len(s1)):
    if n == 0:
        daily_mileage.append(s1[n])
    else:
        daily_mileage.append(s1[n] - s1[n-1])

s2 = pd.Series(daily_mileage)
s2

0     55
1     65
2     60
3     55
4     70
5     50
6     60
7     65
8     50
9     65
10    75
11    40
12    55
13    55
14    65
15    60
16    55
17    65
18    55
19    60
20    55
21    30
22    75
23    60
24    60
25    55
26    57
27    55
28    65
29    60
30    55
31    70
32    50
33    60
34    65
35    50
36    65
37    75
38    40
39    55
40    55
41    65
42    60
43    55
44    65
45    55
46    60
47    55
48    30
49    75
50    60
51    60
52    55
53    57
dtype: int64